:root {
    --main-color: #023047;
    --secondary-color: #FB8500;
    --accent-color01: #8ECAE6;
    --accent-color02: #219EBC;
    --accent-color03: #FFB703;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem;
    min-width: 500px;
    background-color: var(--main-color);
}

.search-form {
    min-width: 400px;
    text-align: end;
    display: flex;
    justify-content: flex-end;
}

h1.header-logo {
    color: white;
}

#search-input {
    flex: 5;
    height: 30px;
}

#search-form-submit {
    flex: 1;
    background-color: #FB8500;
    color: white;
}

.current-min-max {
    display: flex;
    gap: 1rem;
}

.current-weather-content {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}

.current-name {
    font-size: 30px;
}

.current-dt,
.current-main {
    font-size: 20px;
}

.current-temp {
    font-size: 60px;
}

.units-toggle {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

.units-toggle.metric>p.metric {
    font-weight: 700;
}

.units-toggle.imperial>p.imperial {
    font-weight: 700;
}

.next-day-weather-forecast {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: center;
    padding: 20px;
    flex: 1;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    gap: 1rem;
    width: 100px;
    min-height: 250px;
    border-top: #023047 3px solid;
    border-bottom: #023047 3px solid;
    margin-right: 1rem;
}

.trihourly-weather-div {
    min-width: 85.6px;
    flex: 1;
}

.current-weather-div {
    display: flex;
    margin: 1rem 0;
}


@media screen and (max-width: 650px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
    }

    .search-form {
        margin-bottom: 2rem;
    }

    .current-weather-div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        gap: 2rem;
    }

    .next-day-weather-forecast {
        width: 80vw;
    }

}